.login-container{
    width: 350px;
    text-align: left;
}

.logo{
    color : black;
    font-size: 22px;
    margin-bottom: 25px;
}

.title{
    font-weight: bold;
    margin-bottom: 5px;
}
.input-box-email {
  border: 1.5px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.input-box-password {
  border: 1.5px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: rgb(0, 148, 5);
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background: #218838;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}