.container {
  display: flex;
  margin: 0;
  height: calc(100vh - 102px);
}

.sidebar {
  max-width: 200px;
  min-width: 200px;
  padding: 20px;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: #eee;
}

.content {
  flex: 1;
  padding: 20px;
}
