.container {
  width: calc(100% - 200px);
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions input {
  padding: 5px;
}

.actions .btn {
  margin-left: 5px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
}

.actions .btn.green {
  background: #33cc33;
  color: white;
}

.actions .btn.outline {
  border: 1px solid #33cc33;
  background: white;
  color: #33cc33;
}
